
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

@model TeaRoomCw.Models.Items

<h1>Menu</h1>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">

        <div class="col-sm-4">
            <h2>Drinks</h2>
        </div>

        <div class="col-sm-4">
            <h2>Snacks</h2>
        </div>

        <div class="col-sm-4">
            <h2>My order</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-2" style="width: 18rem;">

            <select class="custom-select mr-sm-2 form-control" name="selectDrink" asp-for="itemName"
                    asp-items="(IEnumerable<SelectListItem>)ViewBag.Drinks">
                
            </select> 

        </div>
        
        <div class="col-sm-2"></div>        
        
        <div class="col-sm-2" style="width: 18rem;">
           
            <select class="custom-select mr-sm-2 form-control" name="selectSnack" asp-for="itemId"
                    asp-items="(IEnumerable<SelectListItem>)ViewBag.Snacks">
                
            </select>
        
        </div>
        
        <div class="col-sm-1"></div>

        <div class="col-sm-4">

            <!--Order stuff here-->

        </div>
    </div>

</div>

