@model TeaRoomCw.Models.Orders

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tableNum" class="control-label"></label>
                <input asp-for="tableNum" class="form-control" />
                <span asp-validation-for="tableNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="completed" class="control-label"></label>
                <input asp-for="completed" class="form-control" />
                <span asp-validation-for="completed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalPrice" class="control-label"></label>
                <input asp-for="totalPrice" class="form-control" />
                <span asp-validation-for="totalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orderTime" class="control-label"></label>
                <input asp-for="orderTime" class="form-control" />
                <span asp-validation-for="orderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
