
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}

@model TeaCar.Models.Items

<h1>Edit product listing and information</h1>

<div class="container-fluid mt-1 px-1">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-border-primary mb-3">
                <div class="card-body">
                    <form asp-controller="Staff" asp-action="EditItem" method="post">

                        <div class="form-group-row" style="text-align:left">
                            <label for="selectItem" class="col-sm-3 col-form-label">Select product to be changed</label>
                            <select class="custom-select form-control col-sm-2" name="itemId" asp-for="ItemId"
                                    asp-items="(IEnumerable<SelectListItem>)ViewBag.Items">
                            </select>
                        </div>

                        <div class="form-group-row"><p> </p></div>

                        <div class="form-group row">
                            <label for="itemName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" name="newItemName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="itemPrice" class="col-sm-2 col-form-label">Price £</label>
                            <div class="col-sm-8">
                                <input type="text" name="newItemPrice" class="form-control" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="itemInfo" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-8">
                                <textarea rows="3" name="newItemInfo" class="form-control"></textarea>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2">
                                <div class="col-sm-2">
                                    <select class="custom-select form-control" name="newCatId" style="width: 10rem;">
                                        <option>Select category</option>
                                        <option value=1>Drink</option>
                                        <option value=2>Snack</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-sm-2">
                                <div class="col-sm-2">
                                    <select class="custom-select form-control" name="newOnSale" style="width: 10rem;">
                                        <option>Select sale status</option>
                                        <option value=true>On sale now</option>
                                        <option value=false>Not on sale yet</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="form-group-row">
                            <button type="submit" class="btn btn-success" name="submitChanges">Submit</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @{ 
         if ((ViewBag.UpdateItem != null) && ((int)ViewBag.UpdateItem != 0))
         {
             <div class="row">
                 <div class="col-sm-12">
                     <div class="card bg-success mb-3">
                         <div class="card-header  bg-success text-white">
                             Changes have been saved.
                         </div>
                     </div>
                 </div>
             </div>
         }
         
    }

</div>

