@model IEnumerable<TeaCar.Models.IncompleteOrders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h1>Confirm order</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal total = 0;
            String showTotal = "0.00";
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.itemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.itemPrice)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.itemName">Remove</a>
                    </td>
                </tr>
                total = total + (item.quantity * item.itemPrice);
                showTotal = total.ToString("n2");
            }
        }
    </tbody>
</table>

<div class="row">
    <div class=" col-sm-12">
        <h5>Total: £@showTotal</h5>
    </div>
</div>

<form asp-controller="IncompleteOrders" asp-action="SubmitOrder" method="post">

    <div class="form-group-row">
        <label for="table" class="col-sm-2 col-form-label">Table number</label>
        <select class="custom-select col-sm-2" name="tableNum">
            <option disabled selected>Select table</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    <br />
    <div class="form-group-row">
        <button type="submit" class="btn btn-success" name="completeOrder">Complete</button>
    </div>
</form>
<br />
<a class="btn btn-danger" asp-controller="CustomerMenus" asp-action="Clear">Clear</a>

