@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Puffing Express Tea Car</h1>
    <img src="~/Images/Logo.png" alt="Logo" width="200" height="200" />
    <p>Please note that a proper login page is not required for this project.</p>
</div>
<div style="margin-top: 20px">
    <button type="button" class="button">Customer area</button>
    <button type="button" class="button">Staff area</button>
</div>
