
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

@model TeaCar.Models.Items

<h1>Menu</h1>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">

        <div class="col-sm-4">
            <h2>Drinks</h2>
        </div>

        <div class="col-sm-4">
            <h2>Snacks</h2>
        </div>

        <div class="col-sm-4">
            <h2>My order</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-2" style="width: 18rem;">
            <select class="custom-select form-control" name="selectDrink" asp-for="ItemId"
                    asp-items="(IEnumerable<SelectListItem>)ViewBag.Drinks">
            </select>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-2" style="width: 18rem;">
            <select class="custom-select form-control" name="selectSnack" asp-for="ItemId"
                    asp-items="(IEnumerable<SelectListItem>)ViewBag.Snacks">
            </select>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-sm-4" >
            <a class="card-text">Price & information about the selected drink...</a>
        </div>

        <div class="col-sm-4" >
            <p>Price & information about the selected snack...</p>
        </div>

        <div class="col-sm-4">

            <ul class="list-group">
                <li class="list-group-item">Thingy 1</li>
                <li class="list-group-item">Thingy 2</li>
            </ul>
            <h5>Total: £</h5>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form asp-controller="Customer" asp-action="AddToOrder(selectedDrink)" method="post">
                <div class="form-group-row">
                    <button type="submit" class="btn btn-success" name="addToOrder">Add to order</button>                    
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form asp-controller="Customer" asp-action="AddToOrder(selectedSnack)" method="post">
                <div class="form-group-row">
                    <button type="submit" class="btn btn-success" name="addToOrder">Add to order</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form asp-controller="" asp-action="" method="post">
                <div class="form-group-row">
                    <a type="submit" class="btn btn-success" name="completeOrder" asp-controller="Customer" asp-action="OrderFinalisation">
                     Complete order</a>
                    <button type="reset" class="btn btn-danger">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div> 