
@{
    ViewData["Title"] = "OrderFinalisation";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div class="container-fluid mt-1 px-1">
    <div class="row">
        <div class="col-sm-12">
            <div class="car-border-primary mb-3">
                <div class="card-header bg-primary text-white">Confirm order</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">

                            <ul class="list-group">
                                <li class="list-group-item">Thingy 1</li>
                                <li class="list-group-item">Thingy 2</li>
                            </ul>
                            <h5>Total: £</h5>

                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <form asp-controller="" asp-action="" method="post">
    <!--After this method's functionality, have it display message, then send customer back to Index. See example message below-->

                        <div class="form-group-row">
                            <label for="table" class="col-sm-2 col-form-label">Table number</label>
                            <select class="custom-select col-sm-2" name="table">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="1">5</option>
                                <option value="1">6</option>
                            </select>
                        </div>

                        <div class="form-group-row">
                            <button type="submit" class="btn btn-success" name="completeOrder">Complete</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@{ /*
    if ((ViewBag.NewItem != null) && ((int)ViewBag.NewItem != 0))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-success mb-3">
                    <div class="card-header  bg-success text-white">
                        Thank you. Your order has been received. Please enjoy your journey and pay when you alight from the train.
                    </div>
                </div>
            </div>
        </div>
    }

*/}


