@model TeaCar.Models.CurrentOrders

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}

<h1>Create</h1>

<h4>CurrentOrders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="orderTime" class="control-label"></label>
                <input asp-for="orderTime" class="form-control" />
                <span asp-validation-for="orderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orderId" class="control-label"></label>
                <input asp-for="orderId" class="form-control" />
                <span asp-validation-for="orderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tableNum" class="control-label"></label>
                <input asp-for="tableNum" class="form-control" />
                <span asp-validation-for="tableNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemName" class="control-label"></label>
                <input asp-for="itemName" class="form-control" />
                <span asp-validation-for="itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

