@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Puffing Express Tea Car</h1>
    <img src="~/Images/Logo.png" alt="Logo" width="200" height="200" />
    <p>Please note that a proper login page is not required for this project.</p>
    <p>For ease of use, and for demonstration purposes, both customer and staff areas can be accessed from this home page.</p>
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/rooibos.jpg" height="200" width="100" alt="Cup of black tea">
            <div class="card-body">
                <a class="card-text" asp-controller="CustomerMenus" asp-action="Index">Customer area</a>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/notepad.jpg" height="200" width="100" alt="Notepad and pen">
            <div class="card-body">
                <a class="card-text" asp-controller="CurrentOrders" asp-action="Index">Staff area</a>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
