
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}

<h1>Staff home</h1>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/checklist.png" height="200" width="100" alt="Checklist">
            <div class="card-body">
                <a class="card-text" asp-controller="Orders" asp-action="Index">Current orders</a>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/cake.jpg" height="200" width="100" alt="Slice of cake">
            <div class="card-body">
                <a class="card-text" asp-controller="Staff" asp-action="NewProduct">new Item (change later)</a>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

